

<div class="container">
	<div class="jumbotron text-center" style="background-color:black;position: relative; top: 20px;">
<i class="fa fa-check-circle" aria-hidden="true" style="text-align: center; color:green; font-size: 2000%;"></i>
</div>
<div  style="position: relative;">
	<div class="jumbotron text-center">
	  <h1 class="display-3">ДЯКУЄМО ЗА ВАШ ВИБІР!</h1>
          
	  <p class="lead" style="font-size: 200%; text-decoration: underline; text-align: justify;">Дякуємо за ваш вибір нашої рекламної агенції. Для подальшого зв'язку ми використаємо вашу електронну адресу<strong>(<%= current_user.email %>)</strong>, для того щоб уточнити ваше замовлення, та назначити дату і місце для зустрічі для обговорення і оформлення вашого дизайну. Чекайте зворотнього зв'язку в період наступного тижня. Гарного дня!.</p>
	  <hr>
	    <a class="btn btn-outline-dark" href="/" role="button" style="font-size: 200%">Перейти на головну сторінку</a>
	</div>
</div>
</div>